name: Check releasability on tags pushed
on:
  push:
    tags:
      - "*"
jobs:
  prerelease:
    name: "Check Releasability (lint, test and build): Node ${{ matrix.node }}"

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["22.x", "24.x", "25.x"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "10.26.0"
          run_install: false

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build
