name: Check releasability on tags pushed
on:
  push:
    tags:
      - "*"
jobs:
  prerelease:
    name: "Check Releasability (lint, test and build): Node ${{ matrix.node }}"

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["14.x", "16.x", "18.x", "19.x"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build
